    <!-- ======= User Section ======= -->
      <div class="container" data-aos="fade-down">
        <div class="section-title">
          <h1>Hello, {{username}}</h1>
          <p>Your Account Details</p>
          <hr/>
        </div>
        <div class="text-center" style="margin-top:-30px;" data-aos="fade-up" data-aos-delay="500">
            <span>Username : </span>{{username}}
            <br/>
            <span>Email : </span>{{useremail}}
            <br/>
            <div class="text-center">
              <span>Cart List : </span><div id="cart">{{userproduct}}</div>
            </div>
          <form action="logout"><input type="submit" value="Log Out"></form>
        </div>
      </div>  
    <!-- End User Section -->

    <!-- cart display -->
    <script>
      cartArray = document.getElementById("cart").innerHTML;
      cartArray = cartArray.split(",");
      cartElement = "<table id='table' style='text-align:left;'>";
      cartElement = cartElement+"<tr><th>Product</th><th>Quantity</th></tr>";

      cartArray.forEach(function (item, index){
        item = item.replace("\n","");
        item = item.replace("{","")
        item = item.replace("}","")
        item = item.replace("\n","");
        item = item.replace(/\s+/g, ' ').trim();
        item = item.split(":");
        if (item[1]>0){
          console.log(item);
          cartElement = cartElement+`<tr><td>${item[0]}</td><td>${item[1]}</td></tr>`;
        }
      });

      cartElement = cartElement+"</table>";
      var tableCss=`<style>tr,th,td{ border : 1px solid #a4d3f6;}</style>`;
      document.getElementById("cart").style.display = "inline-flex";
      document.getElementById("cart").innerHTML = cartElement + tableCss;

    </script>
