        {{>errorPageUp}}
        <i class="fas fa-plug"></i>
		<div class="msg">
			Database Connection Error
			<p>
				or make sure that entered input are valid
			</p>
			<p>Let's go 
				<a href="/">home</a>
        {{>errorPageDown}}